<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>

  <div class="field">
    <%= form.label :createdby %>
    <%= form.text_field :createdby %>
  </div>

  <div class="field">
    <%= form.label :modifiedby %>
    <%= form.text_field :modifiedby %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :assigned_to_user %>
    <%= form.text_field :assigned_to_user %>
  </div>

  <div class="field">
    <%= form.label :assigned_to_user_id %>
    <%= form.number_field :assigned_to_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
