<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Comments</th>
      <th>Createdby</th>
      <th>Modifiedby</th>
      <th>Status</th>
      <th>Assigned to user</th>
      <th>Assigned to user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.title %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.comments %></td>
        <td><%= ticket.createdby %></td>
        <td><%= ticket.modifiedby %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.assigned_to_user %></td>
        <td><%= ticket.assigned_to_user_id %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
